/* ============================================= */
/*              Variables                        */
/* ============================================= */

$color-text: #777;
$color-default: #51ddfc;
$color-error: #e4757a;
$color-info: #927bc1;
$color-success: #63cc82;
$color-warning: #fd7856;

$break-small  : 786px;
$break-medium  : 1024px;